
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
database.svg
.env.testing
.env.dev

.DS_Store
rr
.rr.yaml
/public/sites/**
/caddy
frankenphp
frankenphp-worker.php
version.txt
/modules
.env.*
public/*
public/js/*
public/css/*
!public/vendor
diff.txt
.aider*
.scribe/
resources/scribe/*
phpstan-baseline.neon